.modal .line {
    display: flex;
    margin: 20px 0px 0px 0px;
    padding-left: 50px;
    height: 50px;
    align-items: center;

}

.modal .upload-line {
    height: 100px;
}

.modal .title-line {
    margin-top: 20px;
}

.modal .detail-line {
    height: 100px;
}

.modal .sub-line {
    height: 340px;
}

.modal .sub-line .sub-item-box {
    flex-grow: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.modal .sub-line .sub-item-box select {
    width: 600px;
    margin-bottom: 20px;
}

.modal .title {
    display: flex;
    height: 50px;
    margin-top: 25px;
    font-size: 22px;

}

/*margin-top*/

.modal .line span {
    display: flex;
    align-items: center;
    margin-right: 30px;

    white-space: nowrap;
    width: 80px;
}

.modal .line > img {
    width: 100px;
    height: 100px;
}

.modal input {
    display: flex;
    align-items: center;
    width: 600px;

}

.modal .button {
    display: flex;
}

.modal textarea {
    width: 600px;
    height: 100px;
}

.modal .upload-button {
    margin-left: 30px;
}