html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow-y: hidden;*/
}

.root {
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.top {
    height: 49px;
    min-height: 49px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.top > .top-sub {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    align-items: center;

}

.top > .top-sub > .mark {
    width: 3px;
    height: 16px;
    margin: 0px;
    margin-left: 8px;
    margin-bottom: 0px;

    background-color: #4FBDF9;
}

.top > .top-sub > .title {
    margin-left: 8px;
}

.top > .top-sub > .add {
    background-color: #4FC3F7;
    margin-right: 40px;
    width: 90px;
    height: 30px;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
    /*text-align: center;*/

}

.split-top {
    width: 99%;
    height: 1px;
    min-height: 1px;
    margin-left: 8px;
    background-color: #4FBDF9;
}

.keys {
    height: 80px;
    min-height: 80px;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

.keys > .keys-label {
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;

}

.keys > .search-key {
    margin-right: 40px;
}

.keys > #search-time-to {
    margin-right: 40px;
}

.keys > .search-time {
    min-width: 160px;
}

.search-button{
    background-color: #4FC3F7;
    margin-left: 40px;
    width: 90px;
    height: 30px;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

/*.table-box {*/
/*margin-top: 1px;*/
/*flex-grow: 1;*/
/*margin-left: 10px;*/
/*margin-right: 40px;*/
/*}*/

/*.table {*/
/*!*table-layout: fixed;*!*/

/*!*width: 100%;*!*/
/*!*display: flex;*!*/
/*!*display: -webkit-flex;*!*/
/*!*flex-direction: column;*!*/

/*}*/

/*.table th, td {*/

/*text-align: center;*/
/*!*height: 40px;*!*/
/*}*/

/*.table span {*/
/*margin: 10px;*/
/*}*/

.page {
    margin: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    display: -webkit-flex;
    flex-direction: row-reverse;
    align-items: center;
}

.page-input {
    margin: 0px;
    padding: 0px;
    width: 26px;
    height: 20px;
    margin-right: 10px;
}

.page-marker {
    margin: 0px;
    padding: 0px;
    width: 28px;
    height: 22px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid;
    display: none;
    /*display: flex;*/
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.page-button {
    border: 1px solid;
    margin: 0px;
    padding: 0px;
    width: 28px;
    height: 22px;
    margin-right: 10px;
}

.page-test1 {
    flex-grow: 1;
    background-color: #2B7AD3;
}

.page-test2 {
    flex-grow: 1;
    background-color: #D4D4D4;
}

#centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}

#dialog {
    position: relative;

    width: 600px;
    margin-left: -300px;

    height: 400px;
    margin-top: -200px;
}