.filter-box {
    height: 80px;
    min-height: 80px;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

.filter-box > label {
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;

}

input,select{
    margin-right: 40px;
}
select{
    width: 160px;
}