
.filter-box {
    height: 80px;
    min-height: 80px;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

.filter-box > label {
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;

}

.filter-box > select {
    width: 160px;
}

.filter-box > .space20-fixed {
    height: 100%;
    width: 20px;
    min-width: 20px;
}

.filter-box > .space20 {
    height: 100%;
    flex-grow: 1;
    min-width: 20px;
}

#add-room-card {
    margin-right: 40px;

}

