.filter-box {
    height: 80px;
    min-height: 80px;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

.filter-box > label {
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;

}

input,select{
    margin-right: 40px;
}
select{
    width: 160px;
}









.modal .table-box{
    margin-bottom: 30px;
}

.modal th > div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.modal table
{
    border-collapse:collapse;
}

.modal table,.modal td, .modalth
{
    border:1px solid black;
}

.modal .space{
    height: 100%;
    flex-grow: 1;
}
.modal .button{
    margin-right: 40px;
}