.line {
    display: flex;
    margin: 0px 0px 20px 0px;
    padding-left: 50px;
    height: 50px;
    align-items: center;


}

.title-line{
    margin-top: 20px;
}
.detail-line{
    height: 100px;
}

.title {
    display: flex;
    height: 50px;
    margin-top: 25px;
    font-size: 22px;

}
/*margin-top*/


span {
    display: flex;
    align-items: center;
    margin-right: 30px;

    white-space: nowrap;
    width: 80px;
}

input {
    display: flex;
    align-items: center;
    width: 600px;


}

.button {
    display: flex;
}

textarea{
    width: 600px;
    height: 100px;
}